
/* Abouts Section css */

.abouts{
	 background: url(../images/abtbg.jpg) no-repeat center top scroll;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  overflow: hidden;
}
.abouts_content{
	padding:20px 0px;
	display:inline-block;
}
.single_abouts_text h4{
	color:#000000;
}
.single_abouts_text h3{
	color:#000000;	
}


/*Amazing Deliceas Section css */
.ourPakeg .main_pakeg_content .head_title h3{
	color:#fff;
	
}
.ourPakeg .main_pakeg_content .head_title h4{
	color:#fff;
	font-family: 'Pacifico', cursive;
	font-size:8rem;
}

.ourPakeg{
	background:url(../images/newsbg.jpeg) no-repeat center top scroll;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  overflow: hidden;	
  padding-bottom:120px;
}

.single_pakeg_one{
	background:url(../images/newsone.jpg) left center no-repeat;
	padding:0px;
	overflow:hidden;
	margin-top:30px;
}
.single_pakeg_two{
	background:url(../images/newstwo.jpg) right center no-repeat;
	padding:0px;	
	overflow:hidden;
	margin-top:30px;	
	
}

.single_pakeg_text{
	background:#fff;
	padding:30px;
	text-align:left;
}

.single_pakeg_text ul li{
    background: url(../images/pkli.png) no-repeat left center;
    padding: 15px 0px 15px 60px;
    margin-top: 20px;
	
}

/* Mobail Apps Section css */

.mobailapps{
	background:url(../images/appsbg.jpg) top center no-repeat scroll;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100%;
	overflow: hidden;
	position:relative;
}

.main_mobail_apps_content{
    margin: 80px 0px;
    color: #fff;
    overflow: hidden;
}

.single_monail_apps_text{
	margin-top:120px;
}
.single_monail_apps_text h4{
	font-size:1.875rem;
	margin-bottom:30px;
}

.single_monail_apps_text h1{
    font-size: 5rem;
    text-transform: uppercase;
    color: #fff;
    line-height: 5rem;

}
.single_monail_apps_text h1 span{
	font-size:1.800rem;
	color:#fff;
	display:block;
	
}

.single_monail_apps_text{
    margin-left:-10px;
}
.single_monail_apps_text a{
	margin-top:50px;
	margin-left:10px;
	display:inline-block;
}
.single_monail_apps_text a img{
	max-width:90%;
}

/* Footer Section CSS */
.footer_widget{
	background:url(../images/footerbg.jpg) center top no-repeat scroll;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100%;
	overflow: hidden;
}
.footer_widget_content{
	color:#fff;
}
.single_widget{
	padding-bottom: 50px;
	padding-top:60px;
}

.single_widget h3{
    font-size:20px;
}
.single_widget_info p{
	margin-top:40px;
}
.single_widget_info p span{
	display:block;
}
.single_widget_info p span.phone_email{
	margin-top:15px;
}
.footer_socail_icon{
	margin-top:90px;
}
.footer_socail_icon a{
	padding:5px;
}
.footer_socail_icon a i{
	font-size:25px;
	color:#e7a331;
}


.single_widget_info p span.date_day{
	margin-top:25px;
	margin-bottom:15px;
	font-weight:600;
}
.footer{
	background:#000;
}
.footer .copyright p{
	padding:25px;
	color:#fff;
}
.footer .copyright p i{
	padding:0px 10px;
	color:#ff0000;
}
.footer .copyright p a{
	padding:0px 10px;
	color:green;
}



/* scrollup */

.scrollup{
	width: 30px;
	height: 30px;
	border-radius: 15px;
	opacity: .3;
	position: fixed;
	bottom: 20px;
	right: 25px;
	color: #fff;
	cursor: pointer;
	background-color: #000;
	z-index: 1000;
	transition: opacity .5s, background-color .5s;
	-moz-transition: opacity .5s, background-color .5s;
	-webkit-transition: opacity .5s, background-color .5s;
}

.scrollup:hover {
	background: #e7a331;
	opacity: 1;
}

.scrollup i {
	font-size: 13px;
	position: absolute;
	opacity: 1;
	color: #fff;
	left: 50%;
	top: 50%;
	margin-top: -7px;
	margin-left: -6px;
	text-decoration: none;

}